
<%- include('partials/header'); -%>

<h1>home</h1>
<p><%= homeContent %> </p>

<% homeArray.forEach(function(array){%>
 <h1><%=array.title  %></h1>
  <p>
   <%=array.body.substring(0,100)+"..."%>  
  <a href="posts/<%= array.title %>" >Read more</a>  
 </p>
 

                       
<% }) %> 


<%- include('partials/footer'); -%> 